<table>
  <% for(var i=0; i<booking.length; i++) {%>
    <tr>
      <td><%= booking[i]['breaker-name'] %></td>
      <td><%= booking[i]['breaker-email'] %></td>
      <td><%= booking[i]['breaker-message'] %></td>
    </tr>
  <% } %>
</table>
