<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <ul>
      <% for(var i=0; i<listings.length; i++) {%>
        <li>
          <span><%= listings[i].name %></span>
          <span><%= listings[i]['room-info'] %></span>
        </li>
      <% } %>
    </ul>

    <form action='/listings' method="POST">
      <label for='room-info'>Room Info: </label>
      <input id='room-info' name='room-info' type='text'></input>
      <br>
      <br>
       <button class='button' type='submit' id="add-a-listing">Add listing</button>
    </form>

  </body>
</html>
