<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MOBbnb</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krona+One|Lobster|Quicksand|Nunito|Dosis">
  </head>

  <body>
    <div class="center_div">
      <h1>Welcome to Makers or Breakers bnb</h1>
      <h2>Please sign up or log in</h2>
      <form action="/maker">
        <input type="submit" value="Maker" class="button"></input>
      </form>

      <form action="/listings">
        <input type="submit" value="Breaker" class="button"></input>
      </form>
    </div>
  </body>
</html>
