<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOBbnb</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krona+One|Lobster|Quicksand|Nunito|Dosis">
  </head>

  <body>
    <section>

        <form action="/listings" method="POST">

          <label for='listing-title'>Listing Title: </label>
          <br>
          <input id='listing-title' name='listing-title' type='text' class='rounded'></input>
          <br><br>
          <label for='listing-price'>Listing Price: </label>
          <br>
          <input id='listing-price' name='listing-price' type='text' class='rounded'></input>
          <br><br>
          <label for='listing-description'>Listing Description: </label>
          <br>
          <textarea id='listing-description' name='listing-description' type='text' rows="20" cols="100" class='rounded'></textarea>
          <br><br>
          <label for='listing-available-from'>Available From: </label>
          <br>
          <input id='listing-available-from' name='listing-available-from' type='text' class='rounded'></input>
          <br><br>
          <label for='listing-available-to'>Available To: </label>
          <br>
          <input id='listing-available-to' name='listing-available-to' type='text' class='rounded'></input>

          <br>
          <input type="submit" value="Add Listing" class="button"></input>
         </form>

    </section>

  </body>
</html>
